body {
    background-color: #dfdfdf;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.content {
    background-color: #dfdfdf;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center
}