.register-box {
  background-color: #ffffef;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 30px 30px;
  text-align: center;
  width: 340px;
}

.register-page {
  position: fixed;
}